@charset "ISO-8859-1";

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

body, html {
	height: 100%;
	line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
	background-image: url("../images/back.jpg");
	background-position: center;
	background-size: cover;
	min-height: 100%;
	width: 100%;
}

#shell {
	background-image: url("../images/back.jpg");
	background-position: center;
	background-size: cover;
	min-height: 100%;
	width: 100%;
}

.w3-bar .w3-button {
	padding: 16px;
}

.clip-star {
	cursor: pointer;
	background: grey;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%,
		32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 40px;
	width: 40px;
}

.clip-star-active {
	cursor: pointer;
	background: gold;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%,
		32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 40px;
	width: 40px;
}
/* PRESENTATION STYLES */
.rating {
	align-items: center;
	display: flex;
	height: 10vh;
	justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}